[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
tap-bing-ads = {editable = true,path = "."}
singer = "*"

[requires]
python_version = "3.8"
